.navbar{
    display: flex;
    padding: 0 50px;
    align-items: center;
    color: #1B2437;

    &--size{
        height: 70px;
    }

    &__title{
        font-weight: 600;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
        color: inherit;
    }

    &__left{
        flex: 1;
        display: flex;
    }

    &__middle{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__right{
        flex: 1;
        display: flex;
    }

    &__menus{
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
    }

    &__menu{
        display: flex;
        align-items: center;
        margin-right: 60px;
        font-size: 16px;
        cursor: pointer;
        color: inherit;
        height: 100%;
        // background-color: red;
    }

    &__options{
        display: flex;
        list-style: none;
        margin-left: auto;
    }

    &__option{
        margin-right: 20px;
        font-size: 16px;
        cursor: pointer;
    }
}

.menu-icon{
    margin-left: 10px;
}


@media (min-width: 320px) and (max-width:480px){ 
    /* smartphones, Android phones, landscape iPhone */ 
    .navbar{
        padding: 0 20px;

        &__middle{
            display: none;
        }
    }
}
@media (min-width: 481px) and (max-width:600px) { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .navbar{
        padding: 0 20px;

        &__middle{
            display: none;
        }
    }
}
@media (min-width: 601px) and (max-width:800px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .navbar{
        padding: 0 20px;

        &__menu{
            margin-right: 20px;
        }

        &__middle{
            flex: auto;
        }
    }
}
@media (min-width: 801px) and (max-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .navbar{

        &__middle{
            flex: auto;
        }

        &__menu{
            margin-right: 40px;
        }
    }
}
@media (min-width: 1026px) and (max-width:1281px) { 
    /* hi-res laptops and desktops */
    .navbar{

        &__middle{
            flex: auto;
        }
    }
}

@media (min-width: 1282px) and (max-width:1408px) { 
    /* hi-res laptops and desktops */
    .navbar{

        &__middle{
            flex: auto;
        }
    }
}
