.blogsection{
    position: absolute;
    top: 70px;
    z-index: 100;

    &--size{
        min-height: 500px;
        width: 100%;
    }

    &--theme{
        background-color: rgba($color:black, $alpha: 0.9);
    }

    &__blogs{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        flex-wrap: wrap;
        list-style: none;
        padding: 50px;
    }

    &__blog{
        margin: 20px 0;
        display: flex;
        align-items: center;

        &--size{
            width: 400px;
            height: 300px;
        }
    }

    &__image{
        min-width: 120px;
        min-height: 150px;
        width: 150px;
    }

    &__title{
        margin-left: 10px;
        font-size: 20px;
    }
}