.categorysection{
    padding: 40px 0;

    &--size{
        height: auto;
    }
}

.categorycontent{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    
    &--size{
        height: 400px;
    }

    &--theme{
        background-color: white;
    }
}

.categories{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &--size{
        height: 100%;
    }
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1B2437;

    &--size{
        width: 250px;
    }

    &__image{
        height: 100%;
        width: 150px;
        height: 150px;
        object-fit: contain;
        // display: none;
    }

    &__title{
        color: inherit;
        margin-top: 20px;
        font-weight: 500;
    }

    &__sliders{
        list-style: none;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 30px;
        align-self: center;
    }


    &__slider{
        cursor: pointer;
        background-color: grey;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        margin-right: 15px;
    }
}

.add-border{
    background-color: #1B2437;
    border: 2px solid #FFF;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    box-shadow: 0 0 3px #1B2437;
}