.categorysection{
    padding: 20px 10px;

    &--size{
        height: auto;
    }
}

.categorycontent{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    
    &--size{
        height: 400px;
    }

    &--theme{
        background-color: white;
    }
}

.categories{
    list-style: none;
    display: flex;
    align-items: center;

    &--size{
        height: 100%;
    }
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1B2437;

    &--size{
        width: 250px;
    }

    &__image{
        min-height: 120px;
        min-width: 120px;
        width: 150px;
        height: 150px;
        object-fit: contain;
        // display: none;
    }

    &__title{
        color: inherit;
        margin-top: 20px;
        font-weight: 500;
    }

    &__sliders{
        list-style: none;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 30px;
        align-self: center;
    }


    &__slider{
        cursor: pointer;
        background-color: grey;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        margin-right: 15px;
    }
}

.add-border{
    background-color: #1B2437;
    border: 2px solid #FFF;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    box-shadow: 0 0 3px #1B2437;
}

@media (min-width: 320px) and (max-width:480px){ 
    /* smartphones, Android phones, landscape iPhone */ 
    .categorysection{

        &--size{
            min-height: 320px;
        }
    }

    .categories{
        overflow-x: scroll;
    }
}
@media (min-width: 481px) and (max-width:600px) { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .categories{
        overflow-x: scroll;
    }

}
@media (min-width: 601px) and (max-width:800px)  { 
    .categories{
        overflow-x: scroll;
    }
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 801px) and (max-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1026px) and (max-width:1281px) { 
    /* hi-res laptops and desktops */
}

@media (min-width: 1282px) and (max-width:1408px) { 
    /* hi-res laptops and desktops */
}
