.footersection{
    margin-top: 50px;

    &--size{
        height: auto;
    }

    &--theme{
        background-color: white;
    }

    &__content{
        display: flex;
        margin: 30px auto;
        height: 100%;
    }

    &__description{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__links{
        flex: 1;
    }

    &__more{
        flex: 1;
    }

    &__care{
        flex: 1;
    }

    &__title{
        font-weight: 500;
        font-size: 20px;
        color: #1B2437;
    }

    &__info{
        font-size: 14px;
        line-height: 20px;
        width: 70%;
        margin-top: 20px;
        color: #8E8E93;
    }

    &__list{
        list-style: none;
        margin: 20px 0;
    }

    &__item{
        margin-top: 15px;
        color: #8E8E93;
        font-size: 14px;
    }

    &__bottom{

        &--size{
            height: 70px;
        }

        &--theme{
            background-color: #EFEFF4;
        }

        &-content{
            display: flex;
            height: 100%;
            color: #8E8E93;
            align-items: center;
        }

        &-label{
            font-size: 14px;
        }
    }

    &__icon{
        color: #1B2437;
        margin-right: 35px;
        cursor: pointer;
        font-size: 18px;
    }

    &__icons{
        margin-left: auto;
    }    
}

.link{
    text-decoration: none;
    color: inherit;
}
