.productsection{
    padding: 10px;

    &--size{
        height: auto;
    }

    &__title{
        font-size: 28px;
        color: #1B2437;
        font-weight: 500;
    }
}

.products{
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.product{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;

    &:hover{
        cursor: pointer;
        transform: rotate(5deg);
    }

    &--size{
        width: 300px;
        height: 450px;
    }

    &--theme{
        background-color: white;
    }

    &__image{
        flex: 1;
        width: 300px;
    }

    &__content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
    }

    &__bottom{
        display: flex;
        margin-top: auto;
        align-items: center;
    }

    &__title{
        font-weight: 400;
        color: #1B2437;
    }

}

.button-shop{
    margin-left: auto;
    cursor: pointer;
    border: 2px solid #EDA3B5;
    padding: 10px 30px;
    border-radius: 10px;
    color: #EDA3B5;
    font-weight: 600;

    &:hover{
        background-color: #EDA3B5;
        color: white;
    }
}

@media (min-width: 320px) and (max-width:480px){ 
    /* smartphones, Android phones, landscape iPhone */ 
    .productsection{
        margin-top: 40px;
    }

    .products{
        flex-direction: column;
        padding: 0 20px;
    }

    .product{
        flex: 1;
        width: 100%;
        margin: 20px 0 0 0;

        &__image{
            width: 100%;
        }
    }
}
@media (min-width: 481px) and (max-width:600px) { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

    .products{
        padding: 20px 0;
        overflow-x: scroll;
    }
}
@media (min-width: 601px) and (max-width:800px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .productsection{
        margin-top: 100px;
    }

    .products{
        padding: 20px 0;
        overflow-x: scroll;
    }
}
@media (min-width: 801px) and (max-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */

    .products{
        padding: 20px 0;
        overflow-x: scroll;
    }
}
@media (min-width: 1026px) and (max-width:1281px) { 
    /* hi-res laptops and desktops */
}

@media (min-width: 1282px) and (max-width:1408px) { 
    /* hi-res laptops and desktops */
}
