.productsection{

    &--size{
        height: auto;
    }

    &__title{
        font-size: 28px;
        color: #1B2437;
        font-weight: 500;
    }
}

.products{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.product{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0 10px;

    &--size{
        width: 300px;
        height: 450px;
    }

    &--theme{
        background-color: white;
    }

    &__image{
        flex: 1;
        width: 300px;
    }

    &__content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
    }

    &__bottom{
        display: flex;
        margin-top: auto;
        align-items: center;
    }

    &__title{
        font-weight: 400;
        color: #1B2437;
    }

    &__price{
        
    }
}

.button-shop{
    margin-left: auto;
    cursor: pointer;
    border: 2px solid #EDA3B5;
    padding: 10px 30px;
    border-radius: 10px;
    color: #EDA3B5;
    font-weight: 600;

    &:hover{
        background-color: #EDA3B5;
        color: white;
    }
}
