.slider{
    display: flex;

    &--size{
        height: 450px;
    }

    &--theme{
        background-color: #BCACA8;
    }

    &__left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    &__right{
        flex: 1;
        display: flex;
        align-items: center;
    }

    &__image{

        &--size{
            height: 450px;
        }
    }

    &__center{
        width: 50%;
        height: 100%;       
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    &__title{
        font-size: 36px;
    }

    &__description{
        margin-top: 20px;
        font-size: 15px;
        word-spacing: 2px;
    }

    &__button{
        cursor: pointer;
        width: 150px;
        height: 40px;
        margin-top: 30px;
        border-radius: 5px;
        background-color: #BCACA8;
        border: 1px solid white;
        color: white;
        font-weight: 600;

        &:hover{
            background-color: white;
            border: 1px solid white;
            color: #BCACA8;
        }
    }
}

.row{
    display: flex;
}