.slider{
    display: flex;

    &--size{
        height: auto;
    }

    &--theme{
        background-color: #BCACA8;
    }

    &__left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    &__right{
        flex: 1;
        display: flex;
        align-items: center;
    }

    &__image{

        &--size{
            height: 450px;
        }
    }

    &__center{
        width: 50%;
        height: 100%;       
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    &__title{
        font-size: 36px;
    }

    &__description{
        margin-top: 20px;
        font-size: 15px;
        word-spacing: 2px;
    }

    &__button{
        cursor: pointer;
        width: 150px;
        height: 40px;
        margin-top: 30px;
        border-radius: 5px;
        background-color: #BCACA8;
        border: 1px solid white;
        color: white;
        font-weight: 600;

        &:hover{
            background-color: white;
            border: 1px solid white;
            color: #BCACA8;
        }
    }

    &__content{
        display: flex;

        &--size{
            min-height: 45px;
        }
    }
}

@media (min-width: 320px) and (max-width:480px){ 
    /* smartphones, Android phones, landscape iPhone */ 
    .slider{

        &__content{
            padding: 15px;
            flex-direction: column-reverse;

            &--size{
                height: auto;
            }
        }

        &__left{
            margin: 30px 0;
        }

        &__image{
            &--size{
                width: 300px;
                // height: 300px;
                object-fit: contain;
            }
        }
    }
}
@media (min-width: 481px) and (max-width:600px) { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .slider{

        &__content{
            padding: 15px;
            flex-direction: column-reverse;

            &--size{
                height: auto;
            }
        }

        &__left{
            margin: 30px 0;
        }

        &__image{
            &--size{
                width: 300px;
                // height: 300px;
                object-fit: contain;
            }
        }
    }
}
@media (min-width: 601px) and (max-width:800px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .slider{

        &__content{
            padding: 15px;
            // flex-direction: column-reverse;

            &--size{
                height: auto;
            }
        }

        &__left{
            margin: 30px 0;
        }

        &__image{
            &--size{
                width: 300px;
                // height: 300px;
                object-fit: contain;
            }
        }
    }
}
@media (min-width: 801px) and (max-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .slider{

        &__middle{
            flex: auto;
        }

        &__menu{
            margin-right: 40px;
        }
    }
}
@media (min-width: 1026px) and (max-width:1281px) { 
    /* hi-res laptops and desktops */
    .slider{

        &__middle{
            flex: auto;
        }
    }
}

@media (min-width: 1282px) and (max-width:1408px) { 
    /* hi-res laptops and desktops */
    .slider{
        
        &__middle{
            flex: auto;
        }
    }
}
